.single-container
  .single-header
    %h1.single-header__logo
      = link_to "/"do
        =image_tag "/images/signup-mercari.png", size: "185x49", class: "mercari-logo" 
    %nav.progress-bar
      %ol.clearfix
        %li.active
          会員情報
          .progress-status
        %li
          電話番号認証 
          .progress-status
        %li
          お届け先住所入力
          .progress-status
        %li
          支払い方法
          .progress-status
        %li
          完了
          .progress-status
  %main.single-main
    %section.single-main__container
      %h2.single-main__container__header 会員情報入力
      %form.registration-form
      = form_with model: @user, url: tel_signup_index_path, method: :get, local: true do |f|
        
        .registration-form__content
          .form-group
            = f.label "ニックネーム"
            %span.require 必須
            = f.text_field :nickname, placeholder: "例)メルカリ次郎", required: 'true', class: "input-default"
          .form-group
            = f.label "メールアドレス",class: "label"
            %span.require 必須
            = f.email_field :email, placeholder: "PC・携帯どちらでも可", required: 'true',class: "input-default"

          .form-group
            = f.label "パスワード",class: "label"
            %span.require 必須
            = f.password_field :password, placeholder: "7文字以上", required: 'true',class: "input-default"

          %input.form-group{ type:  "checkbox" }
            パスワードを表示する
          .form-group
            %h3.l-chapter-sub-head 本人確認
            %p.l-single-text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
              
          .form-group
            = f.label "苗字(全角)",class: "label"
            %span.require 必須
            .form-group
            = f.text_field :last_name, placeholder: "例)山田",required: 'true',class: "input-default"
            .form-group
            = f.label "名字(全角)",class: "label"
            %span.require 必須
            = f.text_field :first_name, placeholder: "例)彩",required: 'true',class: "input-default"
          .form-group
            = f.label "姓カナ(全角)",class: "label"
            %span.require 必須
            = f.text_field :kana_last_name, placeholder: "例)ヤマダ",class: "label",required: 'true',class: "input-default"
          .form-group
            = f.label "名カナ(全角)",class: "label"
            %span.require 必須
            
            = f.text_field :kana_first_name, placeholder: "例)アヤ",class: "label",required: 'true',class: "input-default"
          .form-group
            = f.label "生年月日",class: "label"
            %span.require 必須
            %br/
          .birth_wappa
            = f.select :birth_year,["--"], {},{class: "wata", id:"user_birth_year"}
            %span 年
            = f.select :birth_month, ["--"], {},{class: "wata", id:"user_birth_month"}
            %span 月
            = f.select :birth_day, ["--"], {},{class: "wata", id:"user_birth_day"}
            %span 日

            .clearfix
          %p.form-info-text
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .l-single-content
            .form-group
              = render '/signup/index' 
              .form-group
              %l-single-text.text-center
                %p「次へ進む」のボタンを押すことにより、
                = link_to '利用規約','https://www.mercari.com/jp/tos_list/', class: 'bluee'   
                %p に同意したものとみなします
              =f.submit"次へ進む" ,class: " btn-default " 
              .form-group.text-right
              =link_to "本人情報の登録について", "https://www.mercari.com/jp/help_center/article/423/",class: "decolation-blue"
= render 'signup/signup-footer'

