.identification_content
  %section.identification_container
    %h2.identification_head 本人情報の登録
  .identification_form_container
    %p.identification_description
      お客さまの本人情報をご登録ください。
      %br
      登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
      .identification_explanation
        = link_to :back, class: 'identification_link' do
          %span.identification_link_position
            本人確認書類のアップロードについて
          = fa_icon 'angle-right', class: 'identification_angle_right'
    .identification_group
      %label.identification_label
        お名前
    .identification_text
      = @user.last_name + " " + @user.first_name
    .identification_group
      %label.identification_label
        お名前カナ
    .identification_text
      = @user.kana_last_name + " " + @user.kana_first_name
    .identification_group
      %label.identification_label
        生年月日
    .identification_text
      = @user.birth_year 
      %span /
      = @user.birth_month 
      %span /
      = @user.birth_day
    = form_with model: @delivery do |d|
      .identification_group
        %label.identification_label
          郵便番号
        %span.identification_arbitrary
          任意
      = d.text_field :postal_code, class:'identification_box', value: @delivery.postal_code
      .identification_group
        %label.identification_label
          都道府県
        %span.identification_arbitrary
          任意 
      = d.collection_select :ken, Prefecture.all, :id,:name,{}, {class: "identification_box"}
      .identification_group
        %label.identification_label
          市区町村
        %span.identification_arbitrary
          任意 
      = d.text_field :map, class:'identification_box', value: @delivery.map
      .identification_group
        %label.identification_label
          番地
        %span.identification_arbitrary
          任意
      = d.text_field :banchi, class:'identification_box', value: @delivery.banchi
      .identification_group
        %label.identification_label
          建物名
        %span.identification_arbitrary
          任意
      = d.text_field :building, class:'identification_box', value: @delivery.building
      = d.submit "変更する",class: "identification_btn"
      .identification_group
        .identification_explanation
          = link_to :back, class: 'identification_link' do
            %span.identification_link_position
              本人情報の登録について
            = fa_icon 'angle-right', class: 'identification_angle_right'
.identification_footer