.my-contents  
  .my-content-over
    .myp-user-icon
      = link_to root_path, class: "user-icon-link" do
        .center
          = image_tag src='prof.jpg', alt: 'プロフィール', height: '60', width: '60', class: 'prof-circle'
      %h2.bold 
        = @user.nickname
      .myp-num
        .hyo 評価
        %span.bold 0
        .hyo 出品数
        %span.bold 0
    .myp-tab-con-noti-todo
      %ul.myp-tabs
        %li.news
          %h3.myp  お知らせ
        %li.news.active
          %h3.myp やることリスト
      %ul#mypage-tab-todo.myp-item-list
        %li.myp-item-not-found_old 
          .mercari-image
            = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg', alt: 'メルカリロゴ', height: '65', width: '80', class: 'gray'
      %h3.to-do-list 現在、やることリストはありません
  %h2.purchaseditem-item 購入した商品  
  .myp-tab-container
    %ul.myp-tabs
      %li.news.active
        %h3.myp  取引中
      %li.news
        %h3.myp 過去の取引
    %ul#mypage-tab-todo.myp-item-list
      %li.myp-item-not-found_old 
        .mercari-image
          = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg', alt: 'メルカリロゴ', height: '65', width: '80', class: 'gray'
    %h3.to-do-list 現在、やることリストはありません