
.myp-back-gray
  - breadcrumb :profile
  = render "items/header"
  =render 'layouts/breadcrumbs'
  = render "myp-side"
  = render "edit-content"
  = render "items/adv"
  = render "items/footer"
  = render 'items/item-circle'