.myp-back-gray
  = render "items/header"
  - breadcrumb :logout
  = render 'layouts/breadcrumbs'
  = render "myp-side"
  .logout_content
    = link_to("ログアウト", users_sign_out_path, class: 'logout')
  = render 'items/adv'
  = render "items/footer"
  = render 'items/item-circle'