= render "items/header"
.wrapper-container
  .wrapper
    = render "myp-side"  
    .logout_content
      = link_to "ログアウト", :back, class: 'logout_test'
= render 'items/adv'
= render "items/footer"
= render 'items/item-circle'
-# .logout_main
-#   = render "users/login"
-#   .logout_header
-#     = link_to "ログアウト", root_path, class: 'logout_test'
-#   .logout_side
-#     = render "myp-side"
-#   .logout_footer
-#     = render "items/footer"
