.myp-back-gray
  - breadcrumb :payment
  = render "items/header"
  =render 'layouts/breadcrumbs'
  = render 'myp-side'
  = render 'payment-content'
  = render 'items/adv'
  = render 'items/footer'
  = render 'items/item-circle'