- breadcrumb :sending
= render "items/header"
=render 'layouts/breadcrumbs'
.back-ground
  = render "items/transaction-info-side"
  .trading-container
    .trading-screen
      %h2.tr-sc 取引画面
    .trading-completed
      .tr-co-container
        = fa_icon "truck", class: "truck"
        %p.tr-co 発送をしてください
      %p.thanks 商品が購入され支払いされました。商品の発送を行ってください。
    .sales-price-box
      .seller-q 商品が売れた後の流れ
      = fa_icon "chevron-right", class: "arrow-right-trading-and-sending"
      .seller-q 出品者のよくある質問
      = fa_icon "chevron-right", class: "arrow-right-trading-and-sending"
    .send-msg-container
      %button.send-msg 商品の発送をしたので、発送通知をする
    .office-confirmation
      %p.comment-content 取引メッセージの内容は、必要に応じて事務局で確認しています
      = form_with local: true, class: "comment-form" do |f|
        = f.text_field :text, class: "comment-field"
        = f.submit "取引メッセージを送る", class: "comment-send"
    %p.some-question ※お困りの際はよくある質問をご確認ください。
= render 'items/adv'
= render 'items/footer'