.myp-back-gray
  - breadcrumb :mypage
  = render 'items/header'
  =render 'layouts/breadcrumbs'
  .wrapper-container
    .wrapper
      = render 'myp-side'
      .my-contents 
        .my-content-over
          .myp-tab-con-noti-todo
            .content-title  出品した商品
            %ul.myp-tabs
              %li.news.active
                =link_to "出品中", status_sell_user_path, class: "mypss"
              %li.news
                -# %h3.myp  取引中
                =link_to "取引中", status_trading_user_path, class: "mypss"
              %li.news
                -# %h3.myp 売却済み
                =link_to "売却済み", status_sold_user_path, class: "mypss2"
            -if @items_images.present?
              - @items_images.each do |item_image|
                =link_to "/items/#{item_image[:item][:id]}" do
                  .item-info
                    .info-left
                      = image_tag src="#{item_image[:image][:image_url]}", size:"99x99"
                    .info-right
                      .info-up
                        = item_image[:item][:item_name]
                      .info-down
                        -if item_image[:item][:exhibition_state] == "停止中"
                          .teisibox 出品停止中
            -else
              %ul#mypage-tab-todo.myp-item-list
                %li.myp-item-not-found_old 
                  .mercari-image
              %h3.to-do-list 出品中の商品はありません
  = render 'items/adv'
  = render 'items/footer'
  = render 'items/item-circle'