.myp-back-gray
  = render 'items/header'
  - breadcrumb :status_bought
  = render 'layouts/breadcrumbs'
  .wrapper-container
    .wrapper
      = render 'myp-side'
      .my-contents 
        .my-content-over
          .myp-tab-con-noti-todo
            .content-title 購入した商品
            %ul.myp-tabs
              %li.news
                = link_to("取引中", status_buy_trading_user_path, class: "mypss")
              %li.news.active
                = link_to("過去の取引", status_bought_user_path, class: "mypss")
            - if @items.present?
              - @items.each do |item|
                = link_to("/items/#{item.id}") do
                  .item-info
                    .info-left
                      = image_tag item.images.first.image_url.to_s, size:"99x99"
                    .info-right
                      .info-up
                        = item.item_name
            - else
              %ul#mypage-tab-todo.myp-item-list
                %li.myp-item-not-found_old 
                  .mercari-image
                    = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg', alt: 'メルカリロゴ', size: '80x65', class: 'gray')
              %h3.to-do-list 取引中の商品はありません
  = render 'items/adv'
  = render 'items/footer'
  = render 'items/item-circle'