.content
  .contents
    .category
      %div.comment
        人気のカテゴリー
        %ul.categorybox
          %li.qaz
            .bar7
              = link_to('レディース', href="#ladies_new", class: 'qaz')
          %li.qaz
            .bar8
              = link_to('メンズ', href="#mens_new", class: 'qaz')
          %li.qaz
            .bar9
              = link_to('家電・スマホ・カメラ', href="#elect", class: 'qaz')
          %li.qaz
            .bar10
              = link_to('おもちゃ・ホビー・グッズ', href="#toy", class: 'qaz')
    .new_box
      .name#ladies_new
        %h1.title
          レディース新着アイテム
        .more          
          = link_to('もっと見る ＞', root_path, class: 'more2')
      %ul.item
        - @ladies_items.each do |ladies|
          %li.itembox
            %span.price ￥#{ladies[:price].to_s(:delimited)}
            .itemtop
              =link_to "items/#{ladies[:id]}" do
                = image_tag(ladies[:image_url], size:"180x190")
            .itembottom
              .itembottom2
                = link_to("#{ladies[:name]}", "items/#{ladies[:id]}", class: 'explanation')
      .name#mens_new
        %h1.title
          メンズ新着アイテム
        %a.more{href: ""} もっと見る ＞
      %ul.item
        - @mens_items.each do |mens|
          %li.itembox
            %span.price ￥#{mens[:price].to_s(:delimited)}
            .itemtop
              =link_to "items/#{mens[:id]}" do
                = image_tag(mens[:image_url], size:"180x190")
            .itembottom
              .itembottom2
                = link_to("#{mens[:name]}", "items/#{mens[:id]}", class: 'explanation')
      .name#elect
        %h1.title
          家電・スマホ・カメラ新着アイテム
        %a.more{href: ""} もっと見る ＞
      %ul.item
        - @appliance_items.each do |appliance|
          %li.itembox
            %span.price ￥#{appliance[:price].to_s(:delimited)}
            .itemtop
              =link_to "items/#{appliance[:id]}" do
                = image_tag(appliance[:image_url], size:"180x190")
            .itembottom
              .itembottom2
                = link_to("#{appliance[:name]}", "items/#{appliance[:id]}", class: 'explanation')
      .name#toy
        %h1.title
          おもちゃ・ホビー・グッズ新着アイテム
        %a.more{href: ""} もっと見る ＞
      %ul.item
        - @toys_items.each do |toys|
          %li.itembox
            %span.price ￥#{toys[:price].to_s(:delimited)}
            .itemtop
              =link_to "items/#{toys[:id]}" do
                = image_tag(toys[:image_url], size:"180x190")
            .itembottom
              .itembottom2
                = link_to("#{toys[:name]}", "items/#{toys[:id]}", class: 'explanation')
  .contents
    .category
      .category
        %div.comment
          人気のブランド
          %ul.categorybox
            %li.qaz
              .bar11
                = link_to('KubooTA', href="#kubota", class: 'qaz')
            %li.qaz
              .bar8
                = link_to('エウオーニ', href="#inoue", class: 'qaz')
            %li.qaz
              .bar9
                = link_to('NAHCII', href="#sioya", class: 'qaz')
            %li.qaz
              .bar10
                = link_to('トノッチ', href="#tonochi", class: 'qaz')
    .new_box
      .name#kubota
        %h1.title
          KubooTA新着アイテム
        .more          
          = link_to('もっと見る ＞', root_path, class: 'more2')
      %ul.item
        - @kubota_items.each do |kubota|
          %li.itembox
            %span.price ￥#{kubota.price.to_s(:delimited)}
            .itemtop
              =link_to "items/#{kubota.id}" do
                = image_tag(kubota.images.first.image_url.to_s, size:"180x190")
            .itembottom
              .itembottom2
                = link_to("#{kubota.item_name}", "items/#{kubota.id}", class: 'explanation')
      .name#inoue
        %h1.title
          エウオーニ新着アイテム
        %a.more{href: ""} もっと見る ＞
      %ul.item
        - @inoue_items.each do |inoue|
          %li.itembox
            %span.price ￥#{inoue.price.to_s(:delimited)}
            .itemtop
              =link_to "items/#{inoue.id}" do
                = image_tag(inoue.images.first.image_url.to_s, size:"180x190")
            .itembottom
              .itembottom2
                = link_to("#{inoue.item_name}", "items/#{inoue.id}", class: 'explanation')
      .name#sioya
        %h1.title
          NAHCII新着アイテム
        %a.more{href: ""} もっと見る ＞
      %ul.item
        - @shioya_items.each do |shioya|
          %li.itembox
            %span.price ￥#{shioya.price.to_s(:delimited)}
            .itemtop
              =link_to "items/#{shioya.id}" do
                = image_tag(shioya.images.first.image_url.to_s, size:"180x190")
            .itembottom
              .itembottom2
                = link_to("#{shioya.item_name}", "items/#{shioya.id}/show", class: 'explanation')
      .name#tonochi
        %h1.title
          トノッチ新着アイテム
        %a.more{href: ""} もっと見る ＞
      %ul.item
        - @tonochi_items.each do |tonochi|
          %li.itembox
            %span.price ￥#{tonochi.price.to_s(:delimited)}
            .itemtop
              =link_to "items/#{tonochi.id}" do
                = image_tag(tonochi.images.first.image_url.to_s, size:"180x190")
            .itembottom
              .itembottom2
                = link_to("#{tonochi.item_name}", "items/#{tonochi.id}/show", class: 'explanation')