- index = 0
.content
  .contents
    .category
      %div.comment 
        人気のカテゴリー
        %ul.categorybox
          - index_for_jump = 0
          - @categories.each do |a_parent|
            %li.qaz
              .bar5
                = link_to("#{a_parent.category}", href="##{index_for_jump}", class: 'qaz')
                - index_for_jump += 1
    .new_box
      - @categories.each do |a_parent_category|
        .name{id:"#{index}"}
          - index += 1
          %h1.title
            = a_parent_category.category + "新着アイテム"
          .more          
            = link_to('もっと見る ＞', root_path, class: 'more2')
        %ul.item
          - Item.get_by_category(a_parent_category).each do |item|
            %li.itembox
              %span.price ￥#{item.price.to_s(:delimited)}
              .itemtop
                =link_to "items/#{item.id}" do
                  = image_tag(item.images.first.image_url.to_s, size:"180x190")
              .itembottom
                .itembottom2
                  = link_to("#{item.item_name}", "items/#{item.id}", class: 'explanation')
  .contents
    .category
      .category
        %div.comment
          人気のブランド
          %ul.categorybox
            - @brands.each do |a_brand|
              %li.qaz
                .bar5
                  = link_to("#{a_brand}", href="##{index_for_jump}", class: 'qaz')
                  - index_for_jump += 1
    .new_box
      - @brands.each do |a_brand|
        .name{id:"#{index}"}
          - index += 1
          %h1.title
            = a_brand + "新着アイテム"
          .more          
            = link_to('もっと見る ＞', root_path, class: 'more2')
        %ul.item
          - Item.get_by_brand(a_brand).each do |item|
            %li.itembox
              %span.price
                = "￥" + "#{item.price.to_s(:delimited)}"
              .itemtop
                =link_to "items/#{item.id}" do
                  = image_tag(item.images.first.image_url.to_s, size:"180x190")
              .itembottom
                .itembottom2
                  = link_to("#{item.item_name}", "items/#{item.id}", class: 'explanation')