.header
  .h_box
    .h_top_box
      .left_img_box
        = link_to(root_path) do
          = image_tag("merucari.png", size: "140x37", class: "header_top_img")
      %form.search
        %input.hoge{ name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}
        %button.hogehoge
          = fa_icon "search"
    .h_bottom_box
      .left_box
        = link_to(categories_path, class: "bar_box") do
          = image_tag("bar.png", size: "20x15", class: "h_bottom_img")
          %span.bar カテゴリーから探す
        = link_to(root_path, class: "bar_box") do
          = image_tag("tag.png", size: "20x15", class: "h_bottom_img")
          %span.bar ブランドから探す
      .right_box
        - if user_signed_in?
          = link_to("", class:"box") do
            %p.heart
              = fa_icon "heart-o"
            %p.iine いいね！一覧
          = link_to("", class: "box") do
            %p.bell
              = fa_icon "bell-o"
            %p.news お知らせ
          = link_to("", class: "box") do
            %p.check
              = fa_icon "check"
            %p.todo_list やることリスト
          = link_to(user_path(current_user.id), class: "box") do
            %p.soccer
              = fa_icon "futbol-o"
            %p.mypage マイページ        
        - else
          = link_to(sign_up_path, class: "touroku") do
            %span 新規会員登録
          = link_to(user_session_path, class: 'login') do
            %span ログイン