
- @items.each do |item|
  - item.images.each do |saler_image|
    .saler-items-box
      .items-box-photo
        = link_to "" do
          = image_tag("#{saler_image.image_url}", class: "saler-item-image")
        .items-box-body
          %h3.saler-item-name #{item.item_name}
          .saler-item-num
            .saler-item-price 
              ¥#{item.price.to_s(:delimited)}
            .like-font
              = fa_icon "heart", class: "saler-haert"
              %span 0