
- @items_images.each do |item_image|
  .saler-items-box
    .items-box-photo
      = link_to controller: "items",action: "show",id:@item.id do
        = image_tag(item_image[:image].image_url.to_s, class: "saler-item-image")
      .items-box-body
        %h3.saler-item-name #{item_image[:item]["item_name"]}
        .saler-item-num
          .saler-item-price 
            ¥#{item_image[:item]["price"].to_s(:delimited)}
          .like-font
            = fa_icon "heart", class: "saler-haert"
            %span 0