.zenntai
  .hiddenid{data:{id:@item.id}}
  .header
    .atamanoe
      = image_tag("signup-mercari.png",class: "gazou",height: "60px")

  .main
    .atama
      商品の情報を入力
    = form_with model: @item, name: "edit_picture" do |f|
      .gazoushuppinn
        .bun-matome
          .bunn2  出品画像
          .hissu  必須
        .saidai10  最大10枚までアップロードできます
        .gazou-okurtokoro
          = f.fields_for :images do |i|
            .dropzone-container.clearfix
              .sell-uploads-drop
                #exhibit-images-preview
              .dropzone-area3
                .inputs 
                  = i.hidden_field :id
                  = i.check_box :_destroy, checked: false, class: 'js-destroy', "data-index": i.index
                .iichan_box
                  = image_tag i.object.image_url, alt: '商品の写真', width: "120", class: "edit-img"
                  .btn_wrapper
                    .xxxxxbtn.deleted{ "data-index": i.index} 削除
                = i.label :image_url, for: 'upload-image' do
                  .sell_upload__area
                    = i.file_field :image_url, type: "file", id: "upload-image", class: "upload-image", 'data-image': 0
            .dropzone-container2.clearfix
              .sell-uploads-drop2
                #exhibit-images-preview2
              .dropzone-area2
      .shouhinmei
        .bun-matome
          .bunn  商品名
          .hissu  必須
        .shouhinnmei-kakutokoro
          = f.text_field :item_name, placeholder: "商品名必須(40)文字まで", value: @item.item_name
        .bun-matome
          .bunn  商品の説明
          .hissu  必須
        .shouhinsetumei-kakutokoro
          = f.text_area :item_info, size: "75x6" ,placeholder: "商品の説明（必須1000文字以内）（色、素材、重さ、低下、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", value: @item.item_info

      .shouhinnoshousai
        .setumei  商品の詳細
        .migiyose
          .bun-matome
            .bunn  カテゴリー
            .hissu  必須
          .kategory-box
            .kategory-serectbox
              .kategory-box-wrapper
                = f.select :category_id,@category_p_now, {prompt:"aaaa"},{class: 'select_boxyou', id: 'parent_category'} do
                  %option{value: "#{@category_p_now.id}"}
                    = @category_p_now.category
                  - @parents.each do |child|
                    -if child.id != @category_p_now.id
                      %option{value: "#{child.id}"} 
                        = child.category
                .c_d#chi
                  = f.select :category_id,@category_c_now, {prompt:"aaaa"},{class: 'select_boxyou', id: 'child_category'} do
                    %option{value: "#{@category_c_now.id}"}
                      = @category_c_now.category
                    - @p_c_children.each do |child|
                      -if child.id != @category_c_now.id
                        %option{value: "#{child.id}"} 
                          = child.category
                .c_d#gra
                  = f.select :category_id,@category_gc_now, {prompt:"aaaa"}, {class: 'select_boxyou', id: 'grandchild_category'} do
                    %option{value: "#{@category_gc_now.id}"}
                      = @category_gc_now.category
                    - @c_gc_children.each do |child|
                      -if child.id != @category_gc_now.id
                        %option{value: "#{child.id}"} 
                          = child.category
          .bun-matome
            .bunn  商品の状態
            .hissu  必須
          .jyoutai-box
            = "現在の状態: #{@item.status}"
            = f.select :status,[["新品、未使用"],["未使用に近い"],["目立った傷や汚れなし"],["やや傷や汚れなし"],["傷や汚れあり"],["全体的に状態が悪い"]],{prompt: "---" }, {class: 'select_boxyou'}
      .haisounituite
        .setumei  配送について
        .migiyose
          .bun-matome
            .bunn  配送料の負担
            .hissu  必須
          .kategory-box
            = "現在の配送料の負担: #{@item.delivery_fee}"
            = f.select :delivery_fee,[["送料込み (出品者負担)"],["着払い(購入者負担)"]],{prompt: "---" },{class: 'select_boxyou'}
          .bun-matome
            .bunn  配送方法
            .hissu  必須
          .kategory-box
            = "現在の配送方法: #{@item.delivery_way}"
            = f.select :delivery_way,[["未定"],["クロネコヤマト"],["ゆうパック"],["ゆうメール"]],{prompt: "---" }, {class: 'select_boxyou'} 
          .bun-matome
            .bunn  発送元の地域
            .hissu  必須
          .kategory-box
            = "現在の発送元の地域: #{@item.area}"            
            = f.collection_select :area, Prefecture.all, :name,:name, {}, {class: "select_boxyou"}
          .bun-matome
            .bunn  発送までの日数
            .hissu  必須
          .kategory-box
            = "現在の発送までの日数: #{@item.delivery_day}"
            = f.select :delivery_day,[["1~2日で発送"],["3~4日で発送"],["5~6日で発送"]],{prompt: "---" }, {class: 'select_boxyou'} 
      .hannbaikakaku
        .setumei  販売価格(300~9,999,999)
        .migiyose
          .bun-matome
            .bunn  価格
            .hissu  必須
          .kakaku-kakutokoro
            ￥
            = f.number_field :price, placeholder: "例）300", class: 'kakaku-kakumasu',id: 'kakaku-kakumasu', value: @item.price
          .kakaku-tesuuryou 
            .bunn 販売手数料(10%)
            .tesuuryou 
          .kakaku-rieki 
            .bunn 販売利益
            .rieki
      .hanbaityuui
        .tyuuibunn  禁止されている出品、行為を必ずご確認ください。<br>またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。<br>また、出品をもちまして加盟店規約に同意したことになります。
        .buttonyou
          = f.submit "編集する", class: "buttonda"
        .buttonyou2
          .modorubutton
            = link_to "/"  do
              %a.modo もどる
  %footer.st-footer
    %ul.privacy
      %li.pf
        = link_to('プライバシーポリシー', "#", class: "privacypolicy")
      %li.pf
        = link_to('メルカリ利用規約', "#", class: "privacypolicy")
      %li.pf
        = link_to('特定商取引に関する表記', "#", class: "privacypolicy")
    .img-hako
      = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg', alt: 'メルカリロゴ', height: '65', width: '80', class: 'gray'
    %p.ff 
      %small ©︎2019 Mercari