= render 'header'
.content_g
  .left_auto
    = link_to "" do
      = image_tag("alltag.png", size: "300x250",class: "masa")
  .midasi エラーが発生し、処理が中断されました
    = link_to(root_path) do
      .go_to_top
        TOPページに戻る
= render 'items/adv'
= render 'items/footer'