= render "tests/header"
.ladies
- @ladies_items.each do |ladies|
  %tr
    %td
      = ladies.item_name
    %td
      = ladies.price
    %td
      - ladies.images.each do |ladies_image|
        = image_tag("#{ladies_image.image_url}", height:"200")
.kubota
- @kubota_items.each do |kubota|
  %tr
    %td
      = kubota.item_name
    %td
      = kubota.price
    %td
      - kubota.images.each do |kubota_image|
        = image_tag("#{kubota_image.image_url}", height:"200")
.inoue
- @inoue_items.each do |inoue|
  %tr
    %td
      = inoue.item_name
    %td
      = inoue.price
    %td
      - inoue.images.each do |inoue_image|
        = image_tag("#{inoue_image.image_url}", height:"200")
.shioya
- @shioya_items.each do |shioya|
  %tr
    %td
      = shioya.item_name
    %td
      = shioya.price
    %td
      - shioya.images.each do |shioya_image|
        = image_tag("#{shioya_image.image_url}", height:"200")
.tonochi
- @tonochi_items.each do |tonochi|
  %tr
    %td
      = tonochi.item_name
    %td
      = tonochi.price
    %td
      - tonochi.images.each do |tonochi_image|
        = image_tag("#{tonochi_image.image_url}", height:"200")