
= render 'header'
.wrappers
  .saler-over
    .saler-icon
      = link_to root_path, class: "user-icon-link" do
        .center
          = image_tag src='prof.jpg', alt: 'プロフィール', size: '60x60', class: 'prof-circle'
      %h2.bold 
        %p #{@item.user.nickname}
      .myp-num
        .hyo 評価
        %span.bold 0
        .hyo 出品数
        %span.bold #{@items_images.length}
    .saler-white
      .likes-box
        .saler-likes-detail
          .saler-icons
            = image_tag src="smile.png", size: "30x30"            
            %p.good-score 0
          .saler-icons
            = image_tag src="not_smile.png", size: "30x30"           
            %p.good-score 0
          .saler-icons
            = image_tag src="not.png", size: "30x30"         
            %p.good-score 0
      .saler-comments-detail
        %p.comment-content-table #{@item.user.profile}
      .social-media
        .saler-icons-box
          = fa_icon "facebook", class: "facebook-saler"
          = fa_icon "twitter", class: 'twitter-saler'
          = image_tag 'line.png', alt: 'line', size: '60x60', class: 'line-icon'
      %h2.saler-item-head この出品者の商品
      .saler-items-box-content
        = render "saler-item"
= render 'adv'
= render 'footer'
= render 'item-circle'