= render 'header'
.pppbox
  .allbox
    .pbox
      %p.kuo
        = @item.item_name
      .ortu
        .uuoo
        .oouu
        -# = image_tag ("/#{@item.images[0].image_url}")
      .rgt
        .tbody
          .zx
            .pmfo 
              %p.jgjgjh 出品者
            .igrej
              =link_to("ああああ",root_path,class: "vnk")
              .jgiore
                = image_tag src="smile.png", size: "15x15",class: "vjnl"
                %span.dfs 
                  7
                = image_tag src="not_smile.png", size: "15x15",class: "vjnla"
                %span.dfsa 
                  0
                = image_tag src="not.png", size: "15x15",class: "vjnlq"
                %span.dfsq
                  0
          .zx
            .pmfo
              %p.jgjgjh カテゴリー
            .igrej
              =link_to("#{@item.category.parent.parent.category}",root_path,class: "aas")
              %br
              =link_to(">#{@item.category.parent.category}",root_path,class: "aad")
              %br
              =link_to(">#{@item.category.category}",root_path,class: "aaf")
          .zx
            .pmfo
              %p.jgjgjh ブランド
            .igrej
          .zx
            .pmfo
              %p.jgjgjh 商品の状態
            .igrej 新品、未使用
          .zx
            .pmfo
              %p.jgjgjh 配送料の負担
            .igrej 送料込み(出品者負担)
          .zx
            .pmfo
              %p.jgjgjh 配送の方法
            .igrej ゆうゆうメルカリ便
          .zx
            .pmfo 
              %p.jgjgjh 配送元地域
            .igrej
              =link_to("大阪府",root_path,class: "vnk")
          .zx
            .pmfo
              %p.jgjgjh 発送日の目安
            .igrej 1~2日で発送
      .bbbt
        %p.byr
          = "¥ #{@item.price}"
        %p.byt
          (税込)
        %p.byy
          送料込み
      .vmt
        =link_to("購入画面に進む",root_path,class: "iuorwe")
      .yuyuyu
        .okjgnd
          =@item.item_info
      .itjgo
        =link_to "",class: "nefj" do
          =fa_icon "heart-o"
          %span.vjnhh
            &nbsp;いいね！&nbsp;0
        =link_to "",class: "trouido" do
          =fa_icon "flag"
          %span.vjn
            不適切な商品の報告
        =link_to "",class: "trouo" do
          =fa_icon "lock"
          %span.vjngr
            あんしん・あんぜんへの取り組み
    .obox
      %p.rfvn
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.tnu
      %input.itvu{:type => "submit", :value => "コメントする"}/
    .ibox
      =link_to("＜ペーパーシアター トトロセット",root_path,class:"iuiu")
      =link_to("CAROL マルイ マルイモデル 大きいサイズ 26cm＞",root_path,class:"uiui")
    .lbox
      = link_to "https://ja-jp.facebook.com/" do
        =image_tag "face.png", size: "50x50"
      = link_to "https://twitter.com/login?lang=ja" do
        =image_tag "tww.png", size: "50x50"
      = link_to "https://www.pinterest.jp/" do
        =image_tag "pinserest.png", size: "50x50"
    .kbox
      = link_to("外内さんのその他の出品",root_path,class:"vunt")  
    .jbox
      .nekobox
        =link_to "",class:"neo" do
          %img{:src => "kaban.jpeg",:height => "180",:width => "200"}/
          .neko
            .tuhv
              ロングスカート
              .nekoneko
                %p.yhgv
                  ¥13,000
                =fa_icon "heart-o",class:"tgjvm"
                %supan.wio
                  2
      .nekobox
        =link_to "",class:"neo" do
          %img{:src => "kaban.jpeg",:height => "180",:width => "200"}/
          .neko
            .tuhv
              ロングスカート
              .nekoneko
                %p.yhgv
                  ¥13,000
                =fa_icon "heart-o",class:"tgjvm"
                %supan.wio
                  2
      .nekobox
        =link_to "",class:"neo" do
          %img{:src => "kaban.jpeg",:height => "180",:width => "200"}/
          .neko
            .tuhv
              ロングスカート
              .nekoneko
                %p.yhgv
                  ¥13,000
                =fa_icon "heart-o",class:"tgjvm"
                %supan.wio
                  2
      .nekobox
        =link_to "",class:"neo" do
          %img{:src => "kaban.jpeg",:height => "180",:width => "200"}/
          .neko
            .tuhv
              ロングスカート
              .nekoneko
                %p.yhgv
                  ¥13,000
                =fa_icon "heart-o",class:"tgjvm"
                %supan.wio
                  2
      .nekobox
        =link_to "",class:"neo" do
          %img{:src => "kaban.jpeg",:height => "180",:width => "200"}/
          .neko
            .tuhv
              ロングスカート
              .nekoneko
                %p.yhgv
                  ¥13,000
                =fa_icon "heart-o",class:"tgjvm"
                %supan.wio
                  2
      .nekobox
        =link_to "",class:"neo" do
          %img{:src => "kaban.jpeg",:height => "180",:width => "200"}/
          .neko
            .tuhv
              ロングスカート
              .nekoneko
                %p.yhgv
                  ¥13,000
                =fa_icon "heart-o",class:"tgjvm"
                %supan.wio
                  2
    .kbox
      = link_to("外内さんのその他の出品",root_path,class:"vunt")  
    .jbox
      .nekobox
        =link_to "",class:"neo" do
          %img{:src => "kaban.jpeg",:height => "180",:width => "200"}/
          .neko
            .tuhv
              ロングスカート
              .nekoneko
                %p.yhgv
                  ¥13,000
                =fa_icon "heart-o",class:"tgjvm"
                %supan.wio
                  2
      .nekobox
        =link_to "",class:"neo" do
          %img{:src => "kaban.jpeg",:height => "180",:width => "200"}/
          .neko
            .tuhv
              ロングスカート
              .nekoneko
                %p.yhgv
                  ¥13,000
                =fa_icon "heart-o",class:"tgjvm"
                %supan.wio
                  2
      .nekobox
        =link_to "",class:"neo" do
          %img{:src => "kaban.jpeg",:height => "180",:width => "200"}/
          .neko
            .tuhv
              ロングスカート
              .nekoneko
                %p.yhgv
                  ¥13,000
                =fa_icon "heart-o",class:"tgjvm"
                %supan.wio
                  2
      .nekobox
        =link_to "",class:"neo" do
          %img{:src => "kaban.jpeg",:height => "180",:width => "200"}/
          .neko
            .tuhv
              ロングスカート
              .nekoneko
                %p.yhgv
                  ¥13,000
                =fa_icon "heart-o",class:"tgjvm"
                %supan.wio
                  2
      .nekobox
        =link_to "",class:"neo" do
          %img{:src => "kaban.jpeg",:height => "180",:width => "200"}/
          .neko
            .tuhv
              ロングスカート
              .nekoneko
                %p.yhgv
                  ¥13,000
                =fa_icon "heart-o",class:"tgjvm"
                %supan.wio
                  2
      .nekobox
        =link_to "",class:"neo" do
          %img{:src => "kaban.jpeg",:height => "180",:width => "200"}/
          .neko
            .tuhv
              ロングスカート
              .nekoneko
                %p.yhgv
                  ¥13,000
                =fa_icon "heart-o",class:"tgjvm"
                %supan.wio
                  2
  .mbox
    .tugv
    .rti
      =link_to("メルカリ",root_path,class: "gjkd")
      %p.lejgf >
      %p.ltg  vivienne westwood red label スカート
= render 'adv'
= render 'footer'