.wrappers
  %header.st-header
    = link_to root_path do
      = image_tag 'mercari-gray-logo.svg', alt: 'メルカリロゴ', height: '50', width: '185', class: 'mercari-logo-st'
  %main.st-main
    %section.st-buy-container
      %h2.st-head 購入内容の確認
      %section.st-buy-item
        .st-buy-item-in
          - @item.images.each do |image|
            %h3.st-buy-item-image
            = image_tag "#{image.image_url}", alt: '海を売っています', height: '64', width: '64', class: 'umi'
          %p.buy-item-name #{@item.item_name}
          %form.b-form(action="#" method="POST" class="b-form" novalidate="nova")
            %span.bprice ¥#{@item.price.to_s(:delimited)}
            %span.bbprice 送料込み
            .a-toggle ポイントはありません
            .bp-cell1 支払い金額
            .bp-cell2 ¥#{@item.price.to_s(:delimited)}
            -# %p.he-text 配送先と支払い方法の入力を完了してください。
            %button.default-btn2
              =link_to '購入する', buy_path, item_id: @item.id,id: "transaction_link_font"
      %section.stb-info
        .stb-transaction-container
          %h3.z 配送先
          .transaction_address_card 
            〒#{@user.delivery.postal_code}
            %br
            = @del
            %br
            ="#{@user.delivery.first_name} #{@user.delivery.last_name}"
          = link_to "#", class: 'changing' do  
            %span.x 変更する
            = fa_icon "chevron-right", class: "arrow-right"
      %section.stb-info
        .stb-transaction-container
          %h3.z 支払い方法
          .transaction_address_card
            - if @default_card_information.blank?
              %br /
            - else
              -#以下カード情報を表示
              = "**** **** **** " + @default_card_information.last4
              %br
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
          %figure
          = image_tag 'app.png', alt: '空', height: '0', width: '0', class: 'carappo'
          = link_to "#", class: 'changing' do
            %span.x 変更する
            = fa_icon "chevron-right", class: "arrow-right"
  %footer.st-footer
    %ul.privacy
      %li.pf
        = link_to('プライバシーポリシー', "#", class: "privacypolicy")
      %li.pf
        = link_to('メルカリ利用規約', "#", class: "privacypolicy")
      %li.pf
        = link_to('特定商取引に関する表記', "#", class: "privacypolicy")
    .img-hako
      = image_tag 'logo-gray-footer', alt: 'メルカリロゴ', height: '65', width: '80', class: 'gray'
    %p.ff 
      %small ©︎2019 Mercari