.content
  .contents
    .category
      %div.comment
        人気のカテゴリー
        %ul.categorybox
          %li.qaz
            .bar7
              = link_to('レディース', root_path, class: 'qaz')
          %li.qaz
            .bar8
              = link_to('メンズ', root_path, class: 'qaz')
          %li.qaz
            .bar9
              = link_to('家電・スマホ・カメラ', root_path, class: 'qaz')
          %li.qaz
            .bar10
              = link_to('おもちゃ・ホビー・グッズ', root_path, class: 'qaz')

    .new_box
      .name
        %h1.title
          レディース新着アイテム
        .more          
          = link_to('もっと見る　＞', root_path, class: 'more2')
      %ul.item
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
      .name
        %h1.title
          メンズ新着アイテム
        %a.more{:href => ""} もっと見る ＞
      %ul.item
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
      .name
        %h1.title
          家電・スマホ・カメラ新着アイテム
        %a.more{:href => ""} もっと見る ＞
      %ul.item
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
      .name
        %h1.title
          おもちゃ・ホビー・グッズ新着アイテム
        %a.more{:href => ""} もっと見る ＞
      %ul.item
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
  .contents
    .category
      .category
        %div.comment
          人気のブランド
          %ul.categorybox
            %li.qaz
              .bar11
                = link_to('シャネル', root_path, class: 'qaz')
            %li.qaz
              .bar8
                = link_to('ルイヴィトン', root_path, class: 'qaz')
            %li.qaz
              .bar9
                = link_to('シュプリーム', root_path, class: 'qaz')
            %li.qaz
              .bar10
                = link_to('ナイキ', root_path, class: 'qaz')
    .new_box
      .name
        %h1.title
          シャネル新着アイテム
        .more          
          = link_to('もっと見る　＞', root_path, class: 'more2')
      %ul.item
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
      .name
        %h1.title
          ルイヴィトン新着アイテム
        %a.more{:href => ""} もっと見る ＞
      %ul.item
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
      .name
        %h1.title
          シュプリーム新着アイテム
        %a.more{:href => ""} もっと見る ＞
      %ul.item
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
      .name
        %h1.title
          ナイキ新着アイテム
        %a.more{:href => ""} もっと見る ＞
      %ul.item
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')
        %li.itembox
          %span.price ￥1,500
          .itemtop
            =link_to "" do
              = image_tag "kaban.jpeg", size: "180x190", alt: ""
          .itembottom
            .itembottom2
              = link_to('ルイヴィトン新作限定商品傷あり訳ありです。', root_path, class: 'explanation')